App_WebReferences/TSNPDCLService/TsipassWsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.ws.tsipass.tsnpdcl.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TsipassWsService" targetNamespace="http://webservice.ws.tsipass.tsnpdcl.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://210.212.223.83:7000/J2S/TWS/TsipassWsPort?xsd=1" namespace="http://webservice.ws.tsipass.tsnpdcl.com/" />
    </xsd:schema>
  </types>
  <message name="insertTsipassUidDetaisls">
    <part name="parameters" element="tns:insertTsipassUidDetaisls" />
  </message>
  <message name="insertTsipassUidDetaislsResponse">
    <part name="parameters" element="tns:insertTsipassUidDetaislsResponse" />
  </message>
  <message name="insertAllAttachments">
    <part name="parameters" element="tns:insertAllAttachments" />
  </message>
  <message name="insertAllAttachmentsResponse">
    <part name="parameters" element="tns:insertAllAttachmentsResponse" />
  </message>
  <message name="insertQueryResponse">
    <part name="parameters" element="tns:insertQueryResponse" />
  </message>
  <message name="insertQueryResponseResponse">
    <part name="parameters" element="tns:insertQueryResponseResponse" />
  </message>
  <message name="insertTsipassOnlinePayments">
    <part name="parameters" element="tns:insertTsipassOnlinePayments" />
  </message>
  <message name="insertTsipassOnlinePaymentsResponse">
    <part name="parameters" element="tns:insertTsipassOnlinePaymentsResponse" />
  </message>
  <message name="insertAppealAgainstRejects">
    <part name="parameters" element="tns:insertAppealAgainstRejects" />
  </message>
  <message name="insertAppealAgainstRejectsResponse">
    <part name="parameters" element="tns:insertAppealAgainstRejectsResponse" />
  </message>
  <message name="saveCEIGApproval">
    <part name="parameters" element="tns:saveCEIGApproval" />
  </message>
  <message name="saveCEIGApprovalResponse">
    <part name="parameters" element="tns:saveCEIGApprovalResponse" />
  </message>
  <portType name="TsipassWsDelegate">
    <operation name="insertTsipassUidDetaisls">
      <input message="tns:insertTsipassUidDetaisls" />
      <output message="tns:insertTsipassUidDetaislsResponse" />
    </operation>
    <operation name="insertAllAttachments">
      <input message="tns:insertAllAttachments" />
      <output message="tns:insertAllAttachmentsResponse" />
    </operation>
    <operation name="insertQueryResponse">
      <input message="tns:insertQueryResponse" />
      <output message="tns:insertQueryResponseResponse" />
    </operation>
    <operation name="insertTsipassOnlinePayments">
      <input message="tns:insertTsipassOnlinePayments" />
      <output message="tns:insertTsipassOnlinePaymentsResponse" />
    </operation>
    <operation name="insertAppealAgainstRejects">
      <input message="tns:insertAppealAgainstRejects" />
      <output message="tns:insertAppealAgainstRejectsResponse" />
    </operation>
    <operation name="saveCEIGApproval">
      <input message="tns:saveCEIGApproval" />
      <output message="tns:saveCEIGApprovalResponse" />
    </operation>
  </portType>
  <binding name="TsipassWsPortBinding" type="tns:TsipassWsDelegate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertTsipassUidDetaisls">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertAllAttachments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertQueryResponse">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertTsipassOnlinePayments">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertAppealAgainstRejects">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="saveCEIGApproval">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TsipassWsService">
    <port name="TsipassWsPort" binding="tns:TsipassWsPortBinding">
      <soap:address location="http://210.212.223.83:7000/J2S/TWS/TsipassWsPort" />
    </port>
  </service>
</definitions>