App_WebReferences/TSSPDCLTEST/TSSPDCLIPassTestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://service.ts.spd" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://service.ts.spd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ts.spd">
      <xs:element name="TSSPDCLIPassTestServiceException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="TSSPDCLIPassTestServiceException" nillable="true" type="ns:Exception" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="setPowerRegistration">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setPowerRegistrationResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setPayment">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setPaymentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setQueryResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setQueryResponseResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setCEIGApprove">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="uid" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ceigno" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ceigaprdt" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="ceigdocurl" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setCEIGApproveResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setMaterialBills">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setMaterialBillsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setQueryResponseRequest">
    <wsdl:part name="parameters" element="ns:setQueryResponse" />
  </wsdl:message>
  <wsdl:message name="setQueryResponseResponse">
    <wsdl:part name="parameters" element="ns:setQueryResponseResponse" />
  </wsdl:message>
  <wsdl:message name="TSSPDCLIPassTestServiceException">
    <wsdl:part name="parameters" element="ns:TSSPDCLIPassTestServiceException" />
  </wsdl:message>
  <wsdl:message name="setCEIGApproveRequest">
    <wsdl:part name="parameters" element="ns:setCEIGApprove" />
  </wsdl:message>
  <wsdl:message name="setCEIGApproveResponse">
    <wsdl:part name="parameters" element="ns:setCEIGApproveResponse" />
  </wsdl:message>
  <wsdl:message name="setMaterialBillsRequest">
    <wsdl:part name="parameters" element="ns:setMaterialBills" />
  </wsdl:message>
  <wsdl:message name="setMaterialBillsResponse">
    <wsdl:part name="parameters" element="ns:setMaterialBillsResponse" />
  </wsdl:message>
  <wsdl:message name="setPowerRegistrationRequest">
    <wsdl:part name="parameters" element="ns:setPowerRegistration" />
  </wsdl:message>
  <wsdl:message name="setPowerRegistrationResponse">
    <wsdl:part name="parameters" element="ns:setPowerRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="setPaymentRequest">
    <wsdl:part name="parameters" element="ns:setPayment" />
  </wsdl:message>
  <wsdl:message name="setPaymentResponse">
    <wsdl:part name="parameters" element="ns:setPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="TSSPDCLIPassTestServicePortType">
    <wsdl:operation name="setQueryResponse">
      <wsdl:input wsaw:Action="urn:setQueryResponse" message="ns:setQueryResponseRequest" />
      <wsdl:output wsaw:Action="urn:setQueryResponseResponse" message="ns:setQueryResponseResponse" />
      <wsdl:fault wsaw:Action="urn:setQueryResponseTSSPDCLIPassTestServiceException" name="TSSPDCLIPassTestServiceException" message="ns:TSSPDCLIPassTestServiceException" />
    </wsdl:operation>
    <wsdl:operation name="setCEIGApprove">
      <wsdl:input wsaw:Action="urn:setCEIGApprove" message="ns:setCEIGApproveRequest" />
      <wsdl:output wsaw:Action="urn:setCEIGApproveResponse" message="ns:setCEIGApproveResponse" />
      <wsdl:fault wsaw:Action="urn:setCEIGApproveTSSPDCLIPassTestServiceException" name="TSSPDCLIPassTestServiceException" message="ns:TSSPDCLIPassTestServiceException" />
    </wsdl:operation>
    <wsdl:operation name="setMaterialBills">
      <wsdl:input wsaw:Action="urn:setMaterialBills" message="ns:setMaterialBillsRequest" />
      <wsdl:output wsaw:Action="urn:setMaterialBillsResponse" message="ns:setMaterialBillsResponse" />
      <wsdl:fault wsaw:Action="urn:setMaterialBillsTSSPDCLIPassTestServiceException" name="TSSPDCLIPassTestServiceException" message="ns:TSSPDCLIPassTestServiceException" />
    </wsdl:operation>
    <wsdl:operation name="setPowerRegistration">
      <wsdl:input wsaw:Action="urn:setPowerRegistration" message="ns:setPowerRegistrationRequest" />
      <wsdl:output wsaw:Action="urn:setPowerRegistrationResponse" message="ns:setPowerRegistrationResponse" />
      <wsdl:fault wsaw:Action="urn:setPowerRegistrationTSSPDCLIPassTestServiceException" name="TSSPDCLIPassTestServiceException" message="ns:TSSPDCLIPassTestServiceException" />
    </wsdl:operation>
    <wsdl:operation name="setPayment">
      <wsdl:input wsaw:Action="urn:setPayment" message="ns:setPaymentRequest" />
      <wsdl:output wsaw:Action="urn:setPaymentResponse" message="ns:setPaymentResponse" />
      <wsdl:fault wsaw:Action="urn:setPaymentTSSPDCLIPassTestServiceException" name="TSSPDCLIPassTestServiceException" message="ns:TSSPDCLIPassTestServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TSSPDCLIPassTestServiceSoap11Binding" type="ns:TSSPDCLIPassTestServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setQueryResponse">
      <soap:operation soapAction="urn:setQueryResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setCEIGApprove">
      <soap:operation soapAction="urn:setCEIGApprove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setMaterialBills">
      <soap:operation soapAction="urn:setMaterialBills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPowerRegistration">
      <soap:operation soapAction="urn:setPowerRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPayment">
      <soap:operation soapAction="urn:setPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSSPDCLIPassTestServiceSoap12Binding" type="ns:TSSPDCLIPassTestServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setQueryResponse">
      <soap12:operation soapAction="urn:setQueryResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap12:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setCEIGApprove">
      <soap12:operation soapAction="urn:setCEIGApprove" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap12:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setMaterialBills">
      <soap12:operation soapAction="urn:setMaterialBills" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap12:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPowerRegistration">
      <soap12:operation soapAction="urn:setPowerRegistration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap12:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPayment">
      <soap12:operation soapAction="urn:setPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TSSPDCLIPassTestServiceException">
        <soap12:fault use="literal" name="TSSPDCLIPassTestServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSSPDCLIPassTestServiceHttpBinding" type="ns:TSSPDCLIPassTestServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setQueryResponse">
      <http:operation location="setQueryResponse" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setCEIGApprove">
      <http:operation location="setCEIGApprove" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setMaterialBills">
      <http:operation location="setMaterialBills" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPowerRegistration">
      <http:operation location="setPowerRegistration" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPayment">
      <http:operation location="setPayment" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TSSPDCLIPassTestService">
    <wsdl:port name="TSSPDCLIPassTestServiceHttpSoap11Endpoint" binding="ns:TSSPDCLIPassTestServiceSoap11Binding">
      <soap:address location="http://117.239.151.79:8080/tsspd/services/TSSPDCLIPassTestService.TSSPDCLIPassTestServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TSSPDCLIPassTestServiceHttpSoap12Endpoint" binding="ns:TSSPDCLIPassTestServiceSoap12Binding">
      <soap12:address location="http://117.239.151.79:8080/tsspd/services/TSSPDCLIPassTestService.TSSPDCLIPassTestServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TSSPDCLIPassTestServiceHttpEndpoint" binding="ns:TSSPDCLIPassTestServiceHttpBinding">
      <http:address location="http://117.239.151.79:8080/tsspd/services/TSSPDCLIPassTestService.TSSPDCLIPassTestServiceHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>