App_WebReferences/telanganaodls/TSIPass_Eodb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MFGProductCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MFGProductCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MFGProductCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSTMFGMarket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSTMFGMarketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSTMFGMarketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSTApprovalSought">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSTApprovalSoughtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSTApprovalSoughtResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Licensetype">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicensetypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicensetypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseSubtype">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseSubtypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseSubtypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseModeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseDocuments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LicenseDocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LicenseDocumentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenderMST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenderMSTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenderMSTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TypeofFirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TypeofFirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TypeofFirmResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirmLicenseDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenseid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirmLicenseDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirmLicenseDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirmLicenseImageDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TsIPassid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Requestid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFirmLicenseImageDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFirmLicenseImageDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoLicenseGeneration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonPaymentDet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirmId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Applicantid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutoLicenseGenerationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutoLicenseGenerationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsForGrant_MFG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonFrimDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonConstitutionDtls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonStaffDtls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonProductDet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonPaymentDet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonUploadDocuments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsForGrant_MFGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitFirmDetailsForGrant_MFGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsForGrant_Sales">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonFrimDetails" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonConstitutionDtls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonStaffDtls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonPaymentDet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonUploadDocuments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsForGrant_SalesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitFirmDetailsForGrant_SalesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsFor_Resubmit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JsonPaymentDet" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JsonUploadDocuments" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Requestid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Firmid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="WS_Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitFirmDetailsFor_ResubmitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitFirmDetailsFor_ResubmitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MFGProductCategorySoapIn">
    <wsdl:part name="parameters" element="tns:MFGProductCategory" />
  </wsdl:message>
  <wsdl:message name="MFGProductCategorySoapOut">
    <wsdl:part name="parameters" element="tns:MFGProductCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketSoapIn">
    <wsdl:part name="parameters" element="tns:MSTMFGMarket" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketSoapOut">
    <wsdl:part name="parameters" element="tns:MSTMFGMarketResponse" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtSoapIn">
    <wsdl:part name="parameters" element="tns:MSTApprovalSought" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtSoapOut">
    <wsdl:part name="parameters" element="tns:MSTApprovalSoughtResponse" />
  </wsdl:message>
  <wsdl:message name="LicensetypeSoapIn">
    <wsdl:part name="parameters" element="tns:Licensetype" />
  </wsdl:message>
  <wsdl:message name="LicensetypeSoapOut">
    <wsdl:part name="parameters" element="tns:LicensetypeResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeSoapIn">
    <wsdl:part name="parameters" element="tns:LicenseSubtype" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeSoapOut">
    <wsdl:part name="parameters" element="tns:LicenseSubtypeResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseModeSoapIn">
    <wsdl:part name="parameters" element="tns:LicenseMode" />
  </wsdl:message>
  <wsdl:message name="LicenseModeSoapOut">
    <wsdl:part name="parameters" element="tns:LicenseModeResponse" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:LicenseDocuments" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:LicenseDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="GenderMSTSoapIn">
    <wsdl:part name="parameters" element="tns:GenderMST" />
  </wsdl:message>
  <wsdl:message name="GenderMSTSoapOut">
    <wsdl:part name="parameters" element="tns:GenderMSTResponse" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmSoapIn">
    <wsdl:part name="parameters" element="tns:TypeofFirm" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmSoapOut">
    <wsdl:part name="parameters" element="tns:TypeofFirmResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirmLicenseDetails" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirmLicenseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFirmLicenseImageDetails" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFirmLicenseImageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationSoapIn">
    <wsdl:part name="parameters" element="tns:AutoLicenseGeneration" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationSoapOut">
    <wsdl:part name="parameters" element="tns:AutoLicenseGenerationResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsForGrant_MFG" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsForGrant_MFGResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsForGrant_Sales" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsForGrant_SalesResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsFor_Resubmit" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitFirmDetailsFor_ResubmitResponse" />
  </wsdl:message>
  <wsdl:message name="MFGProductCategoryHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MFGProductCategoryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicensetypeHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicensetypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseModeHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseModeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenderMSTHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenderMSTHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmHttpGetIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsHttpGetIn">
    <wsdl:part name="licenseid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsHttpGetIn">
    <wsdl:part name="TsIPassid" type="s:string" />
    <wsdl:part name="Requestid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationHttpGetIn">
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="FirmId" type="s:string" />
    <wsdl:part name="Applicantid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGHttpGetIn">
    <wsdl:part name="JsonFrimDetails" type="s:string" />
    <wsdl:part name="JsonConstitutionDtls" type="s:string" />
    <wsdl:part name="JsonStaffDtls" type="s:string" />
    <wsdl:part name="JsonProductDet" type="s:string" />
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesHttpGetIn">
    <wsdl:part name="JsonFrimDetails" type="s:string" />
    <wsdl:part name="JsonConstitutionDtls" type="s:string" />
    <wsdl:part name="JsonStaffDtls" type="s:string" />
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitHttpGetIn">
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="Requestid" type="s:string" />
    <wsdl:part name="Firmid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MFGProductCategoryHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MFGProductCategoryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MSTMFGMarketHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="MSTApprovalSoughtHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicensetypeHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicensetypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseSubtypeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseModeHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseModeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="LicenseDocumentsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GenderMSTHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GenderMSTHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmHttpPostIn">
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="TypeofFirmHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsHttpPostIn">
    <wsdl:part name="licenseid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsHttpPostIn">
    <wsdl:part name="TsIPassid" type="s:string" />
    <wsdl:part name="Requestid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetFirmLicenseImageDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationHttpPostIn">
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="FirmId" type="s:string" />
    <wsdl:part name="Applicantid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AutoLicenseGenerationHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGHttpPostIn">
    <wsdl:part name="JsonFrimDetails" type="s:string" />
    <wsdl:part name="JsonConstitutionDtls" type="s:string" />
    <wsdl:part name="JsonStaffDtls" type="s:string" />
    <wsdl:part name="JsonProductDet" type="s:string" />
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_MFGHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesHttpPostIn">
    <wsdl:part name="JsonFrimDetails" type="s:string" />
    <wsdl:part name="JsonConstitutionDtls" type="s:string" />
    <wsdl:part name="JsonStaffDtls" type="s:string" />
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsForGrant_SalesHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitHttpPostIn">
    <wsdl:part name="JsonPaymentDet" type="s:string" />
    <wsdl:part name="JsonUploadDocuments" type="s:string" />
    <wsdl:part name="Requestid" type="s:string" />
    <wsdl:part name="Firmid" type="s:string" />
    <wsdl:part name="WS_UserName" type="s:string" />
    <wsdl:part name="WS_Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SubmitFirmDetailsFor_ResubmitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TSIPass_EodbSoap">
    <wsdl:operation name="MFGProductCategory">
      <wsdl:input message="tns:MFGProductCategorySoapIn" />
      <wsdl:output message="tns:MFGProductCategorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <wsdl:input message="tns:MSTMFGMarketSoapIn" />
      <wsdl:output message="tns:MSTMFGMarketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <wsdl:input message="tns:MSTApprovalSoughtSoapIn" />
      <wsdl:output message="tns:MSTApprovalSoughtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <wsdl:input message="tns:LicensetypeSoapIn" />
      <wsdl:output message="tns:LicensetypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <wsdl:input message="tns:LicenseSubtypeSoapIn" />
      <wsdl:output message="tns:LicenseSubtypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <wsdl:input message="tns:LicenseModeSoapIn" />
      <wsdl:output message="tns:LicenseModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <wsdl:input message="tns:LicenseDocumentsSoapIn" />
      <wsdl:output message="tns:LicenseDocumentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <wsdl:input message="tns:GenderMSTSoapIn" />
      <wsdl:output message="tns:GenderMSTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <wsdl:input message="tns:TypeofFirmSoapIn" />
      <wsdl:output message="tns:TypeofFirmSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <wsdl:input message="tns:GetFirmLicenseDetailsSoapIn" />
      <wsdl:output message="tns:GetFirmLicenseDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <wsdl:input message="tns:GetFirmLicenseImageDetailsSoapIn" />
      <wsdl:output message="tns:GetFirmLicenseImageDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <wsdl:input message="tns:AutoLicenseGenerationSoapIn" />
      <wsdl:output message="tns:AutoLicenseGenerationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_MFGSoapIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_MFGSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_SalesSoapIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_SalesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <wsdl:input message="tns:SubmitFirmDetailsFor_ResubmitSoapIn" />
      <wsdl:output message="tns:SubmitFirmDetailsFor_ResubmitSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TSIPass_EodbHttpGet">
    <wsdl:operation name="MFGProductCategory">
      <wsdl:input message="tns:MFGProductCategoryHttpGetIn" />
      <wsdl:output message="tns:MFGProductCategoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <wsdl:input message="tns:MSTMFGMarketHttpGetIn" />
      <wsdl:output message="tns:MSTMFGMarketHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <wsdl:input message="tns:MSTApprovalSoughtHttpGetIn" />
      <wsdl:output message="tns:MSTApprovalSoughtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <wsdl:input message="tns:LicensetypeHttpGetIn" />
      <wsdl:output message="tns:LicensetypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <wsdl:input message="tns:LicenseSubtypeHttpGetIn" />
      <wsdl:output message="tns:LicenseSubtypeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <wsdl:input message="tns:LicenseModeHttpGetIn" />
      <wsdl:output message="tns:LicenseModeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <wsdl:input message="tns:LicenseDocumentsHttpGetIn" />
      <wsdl:output message="tns:LicenseDocumentsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <wsdl:input message="tns:GenderMSTHttpGetIn" />
      <wsdl:output message="tns:GenderMSTHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <wsdl:input message="tns:TypeofFirmHttpGetIn" />
      <wsdl:output message="tns:TypeofFirmHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <wsdl:input message="tns:GetFirmLicenseDetailsHttpGetIn" />
      <wsdl:output message="tns:GetFirmLicenseDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <wsdl:input message="tns:GetFirmLicenseImageDetailsHttpGetIn" />
      <wsdl:output message="tns:GetFirmLicenseImageDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <wsdl:input message="tns:AutoLicenseGenerationHttpGetIn" />
      <wsdl:output message="tns:AutoLicenseGenerationHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_MFGHttpGetIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_MFGHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_SalesHttpGetIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_SalesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <wsdl:input message="tns:SubmitFirmDetailsFor_ResubmitHttpGetIn" />
      <wsdl:output message="tns:SubmitFirmDetailsFor_ResubmitHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TSIPass_EodbHttpPost">
    <wsdl:operation name="MFGProductCategory">
      <wsdl:input message="tns:MFGProductCategoryHttpPostIn" />
      <wsdl:output message="tns:MFGProductCategoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <wsdl:input message="tns:MSTMFGMarketHttpPostIn" />
      <wsdl:output message="tns:MSTMFGMarketHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <wsdl:input message="tns:MSTApprovalSoughtHttpPostIn" />
      <wsdl:output message="tns:MSTApprovalSoughtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <wsdl:input message="tns:LicensetypeHttpPostIn" />
      <wsdl:output message="tns:LicensetypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <wsdl:input message="tns:LicenseSubtypeHttpPostIn" />
      <wsdl:output message="tns:LicenseSubtypeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <wsdl:input message="tns:LicenseModeHttpPostIn" />
      <wsdl:output message="tns:LicenseModeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <wsdl:input message="tns:LicenseDocumentsHttpPostIn" />
      <wsdl:output message="tns:LicenseDocumentsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <wsdl:input message="tns:GenderMSTHttpPostIn" />
      <wsdl:output message="tns:GenderMSTHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <wsdl:input message="tns:TypeofFirmHttpPostIn" />
      <wsdl:output message="tns:TypeofFirmHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <wsdl:input message="tns:GetFirmLicenseDetailsHttpPostIn" />
      <wsdl:output message="tns:GetFirmLicenseDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <wsdl:input message="tns:GetFirmLicenseImageDetailsHttpPostIn" />
      <wsdl:output message="tns:GetFirmLicenseImageDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <wsdl:input message="tns:AutoLicenseGenerationHttpPostIn" />
      <wsdl:output message="tns:AutoLicenseGenerationHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_MFGHttpPostIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_MFGHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <wsdl:input message="tns:SubmitFirmDetailsForGrant_SalesHttpPostIn" />
      <wsdl:output message="tns:SubmitFirmDetailsForGrant_SalesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <wsdl:input message="tns:SubmitFirmDetailsFor_ResubmitHttpPostIn" />
      <wsdl:output message="tns:SubmitFirmDetailsFor_ResubmitHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TSIPass_EodbSoap" type="tns:TSIPass_EodbSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MFGProductCategory">
      <soap:operation soapAction="http://tempuri.org/MFGProductCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <soap:operation soapAction="http://tempuri.org/MSTMFGMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <soap:operation soapAction="http://tempuri.org/MSTApprovalSought" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <soap:operation soapAction="http://tempuri.org/Licensetype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <soap:operation soapAction="http://tempuri.org/LicenseSubtype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <soap:operation soapAction="http://tempuri.org/LicenseMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <soap:operation soapAction="http://tempuri.org/LicenseDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <soap:operation soapAction="http://tempuri.org/GenderMST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <soap:operation soapAction="http://tempuri.org/TypeofFirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <soap:operation soapAction="http://tempuri.org/GetFirmLicenseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <soap:operation soapAction="http://tempuri.org/GetFirmLicenseImageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <soap:operation soapAction="http://tempuri.org/AutoLicenseGeneration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <soap:operation soapAction="http://tempuri.org/SubmitFirmDetailsForGrant_MFG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <soap:operation soapAction="http://tempuri.org/SubmitFirmDetailsForGrant_Sales" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <soap:operation soapAction="http://tempuri.org/SubmitFirmDetailsFor_Resubmit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSIPass_EodbSoap12" type="tns:TSIPass_EodbSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MFGProductCategory">
      <soap12:operation soapAction="http://tempuri.org/MFGProductCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <soap12:operation soapAction="http://tempuri.org/MSTMFGMarket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <soap12:operation soapAction="http://tempuri.org/MSTApprovalSought" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <soap12:operation soapAction="http://tempuri.org/Licensetype" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <soap12:operation soapAction="http://tempuri.org/LicenseSubtype" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <soap12:operation soapAction="http://tempuri.org/LicenseMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <soap12:operation soapAction="http://tempuri.org/LicenseDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <soap12:operation soapAction="http://tempuri.org/GenderMST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <soap12:operation soapAction="http://tempuri.org/TypeofFirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <soap12:operation soapAction="http://tempuri.org/GetFirmLicenseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <soap12:operation soapAction="http://tempuri.org/GetFirmLicenseImageDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <soap12:operation soapAction="http://tempuri.org/AutoLicenseGeneration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <soap12:operation soapAction="http://tempuri.org/SubmitFirmDetailsForGrant_MFG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <soap12:operation soapAction="http://tempuri.org/SubmitFirmDetailsForGrant_Sales" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <soap12:operation soapAction="http://tempuri.org/SubmitFirmDetailsFor_Resubmit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSIPass_EodbHttpGet" type="tns:TSIPass_EodbHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="MFGProductCategory">
      <http:operation location="/MFGProductCategory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <http:operation location="/MSTMFGMarket" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <http:operation location="/MSTApprovalSought" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <http:operation location="/Licensetype" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <http:operation location="/LicenseSubtype" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <http:operation location="/LicenseMode" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <http:operation location="/LicenseDocuments" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <http:operation location="/GenderMST" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <http:operation location="/TypeofFirm" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <http:operation location="/GetFirmLicenseDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <http:operation location="/GetFirmLicenseImageDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <http:operation location="/AutoLicenseGeneration" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <http:operation location="/SubmitFirmDetailsForGrant_MFG" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <http:operation location="/SubmitFirmDetailsForGrant_Sales" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <http:operation location="/SubmitFirmDetailsFor_Resubmit" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TSIPass_EodbHttpPost" type="tns:TSIPass_EodbHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="MFGProductCategory">
      <http:operation location="/MFGProductCategory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTMFGMarket">
      <http:operation location="/MSTMFGMarket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSTApprovalSought">
      <http:operation location="/MSTApprovalSought" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Licensetype">
      <http:operation location="/Licensetype" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseSubtype">
      <http:operation location="/LicenseSubtype" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseMode">
      <http:operation location="/LicenseMode" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LicenseDocuments">
      <http:operation location="/LicenseDocuments" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenderMST">
      <http:operation location="/GenderMST" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TypeofFirm">
      <http:operation location="/TypeofFirm" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseDetails">
      <http:operation location="/GetFirmLicenseDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFirmLicenseImageDetails">
      <http:operation location="/GetFirmLicenseImageDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutoLicenseGeneration">
      <http:operation location="/AutoLicenseGeneration" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_MFG">
      <http:operation location="/SubmitFirmDetailsForGrant_MFG" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsForGrant_Sales">
      <http:operation location="/SubmitFirmDetailsForGrant_Sales" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitFirmDetailsFor_Resubmit">
      <http:operation location="/SubmitFirmDetailsFor_Resubmit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TSIPass_Eodb">
    <wsdl:port name="TSIPass_EodbSoap" binding="tns:TSIPass_EodbSoap">
      <soap:address location="https://odls.telangana.gov.in/tsipass_eodb.asmx" />
    </wsdl:port>
    <wsdl:port name="TSIPass_EodbSoap12" binding="tns:TSIPass_EodbSoap12">
      <soap12:address location="https://odls.telangana.gov.in/tsipass_eodb.asmx" />
    </wsdl:port>
    <wsdl:port name="TSIPass_EodbHttpGet" binding="tns:TSIPass_EodbHttpGet">
      <http:address location="https://odls.telangana.gov.in/tsipass_eodb.asmx" />
    </wsdl:port>
    <wsdl:port name="TSIPass_EodbHttpPost" binding="tns:TSIPass_EodbHttpPost">
      <http:address location="https://odls.telangana.gov.in/tsipass_eodb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>