App_WebReferences/HMWSSBTestEODB/TSiPASSNewConnectionUC.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TSiPASSNewConnectionUC" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_ITSiPASSNewConnectionUC_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://test3.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://test3.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://test3.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CTL.ERP.EIF.SWC.MeeSeva.Model.Domain" />
      <xsd:import schemaLocation="https://test3.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CTL.ERP.EIF.SWC.BankTransfers.Model.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITSiPASSNewConnectionUC_SubmitApplication_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApplication" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_SubmitApplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_GetApplicationStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationStatus" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_GetApplicationStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetApplicationStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostCollectionChargesReceipt_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCollectionChargesReceipt" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostCollectionChargesReceipt_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCollectionChargesReceiptResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_TsIpassUploadDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:TsIpassUploadDocuments" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_TsIpassUploadDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:TsIpassUploadDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_TsIpassQueryAndUploadDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:TsIpassQueryAndUploadDocuments" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_TsIpassQueryAndUploadDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:TsIpassQueryAndUploadDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_FeasibiltyTsIpassUploadDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:FeasibiltyTsIpassUploadDocuments" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_FeasibiltyTsIpassUploadDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeasibiltyTsIpassUploadDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_FeasibiltyTsIpassQueryAndUploadDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:FeasibiltyTsIpassQueryAndUploadDocuments" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_FeasibiltyTsIpassQueryAndUploadDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:FeasibiltyTsIpassQueryAndUploadDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_SubmitApplicationTSIPass_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApplicationTSIPass" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_SubmitApplicationTSIPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitApplicationTSIPassResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostNeftCollectionForTSIPass_InputMessage">
    <wsdl:part name="parameters" element="tns:PostNeftCollectionForTSIPass" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostNeftCollectionForTSIPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostNeftCollectionForTSIPassResponse" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostRtgsCollectionForTSIPass_InputMessage">
    <wsdl:part name="parameters" element="tns:PostRtgsCollectionForTSIPass" />
  </wsdl:message>
  <wsdl:message name="ITSiPASSNewConnectionUC_PostRtgsCollectionForTSIPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostRtgsCollectionForTSIPassResponse" />
  </wsdl:message>
  <wsdl:portType name="ITSiPASSNewConnectionUC">
    <wsdl:operation name="SubmitApplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplication" message="tns:ITSiPASSNewConnectionUC_SubmitApplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplicationResponse" message="tns:ITSiPASSNewConnectionUC_SubmitApplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/GetApplicationStatus" message="tns:ITSiPASSNewConnectionUC_GetApplicationStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/GetApplicationStatusResponse" message="tns:ITSiPASSNewConnectionUC_GetApplicationStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCollectionChargesReceipt">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostCollectionChargesReceipt" message="tns:ITSiPASSNewConnectionUC_PostCollectionChargesReceipt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostCollectionChargesReceiptResponse" message="tns:ITSiPASSNewConnectionUC_PostCollectionChargesReceipt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TsIpassUploadDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassUploadDocuments" message="tns:ITSiPASSNewConnectionUC_TsIpassUploadDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassUploadDocumentsResponse" message="tns:ITSiPASSNewConnectionUC_TsIpassUploadDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TsIpassQueryAndUploadDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassQueryAndUploadDocuments" message="tns:ITSiPASSNewConnectionUC_TsIpassQueryAndUploadDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassQueryAndUploadDocumentsResponse" message="tns:ITSiPASSNewConnectionUC_TsIpassQueryAndUploadDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeasibiltyTsIpassUploadDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassUploadDocuments" message="tns:ITSiPASSNewConnectionUC_FeasibiltyTsIpassUploadDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassUploadDocumentsResponse" message="tns:ITSiPASSNewConnectionUC_FeasibiltyTsIpassUploadDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FeasibiltyTsIpassQueryAndUploadDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassQueryAndUploadDocuments" message="tns:ITSiPASSNewConnectionUC_FeasibiltyTsIpassQueryAndUploadDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassQueryAndUploadDocumentsResponse" message="tns:ITSiPASSNewConnectionUC_FeasibiltyTsIpassQueryAndUploadDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationTSIPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplicationTSIPass" message="tns:ITSiPASSNewConnectionUC_SubmitApplicationTSIPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplicationTSIPassResponse" message="tns:ITSiPASSNewConnectionUC_SubmitApplicationTSIPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostNeftCollectionForTSIPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostNeftCollectionForTSIPass" message="tns:ITSiPASSNewConnectionUC_PostNeftCollectionForTSIPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostNeftCollectionForTSIPassResponse" message="tns:ITSiPASSNewConnectionUC_PostNeftCollectionForTSIPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostRtgsCollectionForTSIPass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostRtgsCollectionForTSIPass" message="tns:ITSiPASSNewConnectionUC_PostRtgsCollectionForTSIPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITSiPASSNewConnectionUC/PostRtgsCollectionForTSIPassResponse" message="tns:ITSiPASSNewConnectionUC_PostRtgsCollectionForTSIPass_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_ITSiPASSNewConnectionUC" type="tns:ITSiPASSNewConnectionUC">
    <wsp:PolicyReference URI="#CustomBinding_ITSiPASSNewConnectionUC_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitApplication">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetApplicationStatus">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/GetApplicationStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCollectionChargesReceipt">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/PostCollectionChargesReceipt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TsIpassUploadDocuments">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassUploadDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TsIpassQueryAndUploadDocuments">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/TsIpassQueryAndUploadDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeasibiltyTsIpassUploadDocuments">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassUploadDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FeasibiltyTsIpassQueryAndUploadDocuments">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/FeasibiltyTsIpassQueryAndUploadDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitApplicationTSIPass">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/SubmitApplicationTSIPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostNeftCollectionForTSIPass">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/PostNeftCollectionForTSIPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostRtgsCollectionForTSIPass">
      <soap:operation soapAction="http://tempuri.org/ITSiPASSNewConnectionUC/PostRtgsCollectionForTSIPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TSiPASSNewConnectionUC">
    <wsdl:port name="CustomBinding_ITSiPASSNewConnectionUC" binding="tns:CustomBinding_ITSiPASSNewConnectionUC">
      <soap:address location="https://test3.hyderabadwater.gov.in:92/CTL/ERP/EIF/SWC/MeeSeva/IL/ITSiPASSNewConnectionUC" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>