App_WebReferences/TGBPASSLIVE/tgipass.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="createResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="createResult" type="tns:ApplicationFormResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApplicationFormResponse">
        <s:complexContent mixed="false">
          <s:extension base="tns:ServiceResponse">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ProposalDetailsResponse" type="tns:ProposalDetailsResponse" />
              <s:element minOccurs="0" maxOccurs="1" name="SanctionBuildingList" type="tns:ArrayOfSanctionBuildingDetailsResponse" />
              <s:element minOccurs="0" maxOccurs="1" name="FileNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="HMDAFileNo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="TotalAmount" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="PenaltyAmount" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="UniqueID" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="TS_Client" type="tns:enCorporation" />
              <s:element minOccurs="1" maxOccurs="1" name="Installment" type="tns:enInstallment" />
              <s:element minOccurs="1" maxOccurs="1" name="InstallmentType" type="tns:enInstallmentType" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ServiceResponse" abstract="true">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="s:short" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProposalDetailsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Building_Permit_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Building_Permit_Date" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Occupancy_Applied_for" type="tns:enOccupancyApplied" />
          <s:element minOccurs="0" maxOccurs="1" name="Mandal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Village" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Location_Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Proposed_Plot_Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Proposed_Use" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MobileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Plot_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Survey_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Door_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Road_Street" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Locality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ward_No" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parking_Space_Provisions" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Road_Widening" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RWH_Pits" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tot_Lot_Area" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="No_of_Building" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PreviousFileNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationNo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Work_Commenced_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Work_Completion_Date" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Duedate_for_completion_of_the_building" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="IndustrialPark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ULBCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Remarks" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enOccupancyApplied">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Full" />
          <s:enumeration value="Part" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfSanctionBuildingDetailsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SanctionBuildingDetailsResponse" nillable="true" type="tns:SanctionBuildingDetailsResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SanctionBuildingDetailsResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BuildingName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BuildingId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="PlotId" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="enCorporation">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="HMDA" />
          <s:enumeration value="GHMC" />
          <s:enumeration value="DTCP" />
          <s:enumeration value="TSIIC" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="enInstallment">
        <s:restriction base="s:string">
          <s:enumeration value="No" />
          <s:enumeration value="Yes" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="enInstallmentType">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="GO_108_Installment" />
          <s:enumeration value="GO_CCL_Installment" />
          <s:enumeration value="Both" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaveDocumentDataUsingXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psXML" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDocumentDataUsingXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDocumentDataUsingXMLResult" type="tns:ApplicationFormResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Mortgage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MortgageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MortgageResult" type="tns:ApplicationFormResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DCPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DCPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DCPaymentResult" type="tns:ApplicationFormResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reSubmission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticationKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reSubmissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="reSubmissionResult" type="tns:ApplicationFormResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="createSoapIn">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="createSoapOut">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDocumentDataUsingXMLSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDocumentDataUsingXML" />
  </wsdl:message>
  <wsdl:message name="SaveDocumentDataUsingXMLSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDocumentDataUsingXMLResponse" />
  </wsdl:message>
  <wsdl:message name="MortgageSoapIn">
    <wsdl:part name="parameters" element="tns:Mortgage" />
  </wsdl:message>
  <wsdl:message name="MortgageSoapOut">
    <wsdl:part name="parameters" element="tns:MortgageResponse" />
  </wsdl:message>
  <wsdl:message name="DCPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:DCPayment" />
  </wsdl:message>
  <wsdl:message name="DCPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:DCPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="reSubmissionSoapIn">
    <wsdl:part name="parameters" element="tns:reSubmission" />
  </wsdl:message>
  <wsdl:message name="reSubmissionSoapOut">
    <wsdl:part name="parameters" element="tns:reSubmissionResponse" />
  </wsdl:message>
  <wsdl:portType name="tgipassSoap">
    <wsdl:operation name="create">
      <wsdl:input message="tns:createSoapIn" />
      <wsdl:output message="tns:createSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentDataUsingXML">
      <wsdl:input message="tns:SaveDocumentDataUsingXMLSoapIn" />
      <wsdl:output message="tns:SaveDocumentDataUsingXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Mortgage">
      <wsdl:input message="tns:MortgageSoapIn" />
      <wsdl:output message="tns:MortgageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DCPayment">
      <wsdl:input message="tns:DCPaymentSoapIn" />
      <wsdl:output message="tns:DCPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="reSubmission">
      <wsdl:input message="tns:reSubmissionSoapIn" />
      <wsdl:output message="tns:reSubmissionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tgipassSoap" type="tns:tgipassSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentDataUsingXML">
      <soap:operation soapAction="http://tempuri.org/SaveDocumentDataUsingXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mortgage">
      <soap:operation soapAction="http://tempuri.org/Mortgage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCPayment">
      <soap:operation soapAction="http://tempuri.org/DCPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reSubmission">
      <soap:operation soapAction="http://tempuri.org/reSubmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="tgipassSoap12" type="tns:tgipassSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create">
      <soap12:operation soapAction="http://tempuri.org/create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentDataUsingXML">
      <soap12:operation soapAction="http://tempuri.org/SaveDocumentDataUsingXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mortgage">
      <soap12:operation soapAction="http://tempuri.org/Mortgage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCPayment">
      <soap12:operation soapAction="http://tempuri.org/DCPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reSubmission">
      <soap12:operation soapAction="http://tempuri.org/reSubmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="tgipass">
    <wsdl:port name="tgipassSoap" binding="tns:tgipassSoap">
      <soap:address location="https://sw.tgbpass.telangana.gov.in/bpamsclient/TSIPASS/tgipass.asmx" />
    </wsdl:port>
    <wsdl:port name="tgipassSoap12" binding="tns:tgipassSoap12">
      <soap12:address location="https://sw.tgbpass.telangana.gov.in/bpamsclient/TSIPASS/tgipass.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>