App_WebReferences/Fire/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetApplicationsRecived">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FROM_DATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TO_DATE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetApplicationsRecivedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetApplicationsRecivedResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInspectionApplications">
        <s:complexType />
      </s:element>
      <s:element name="GetInspectionApplicationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInspectionApplicationsResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetApplicationsRecivedSoapIn">
    <wsdl:part name="parameters" element="tns:GetApplicationsRecived" />
  </wsdl:message>
  <wsdl:message name="GetApplicationsRecivedSoapOut">
    <wsdl:part name="parameters" element="tns:GetApplicationsRecivedResponse" />
  </wsdl:message>
  <wsdl:message name="GetInspectionApplicationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetInspectionApplications" />
  </wsdl:message>
  <wsdl:message name="GetInspectionApplicationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetInspectionApplicationsResponse" />
  </wsdl:message>
  <wsdl:message name="GetApplicationsRecivedHttpGetIn">
    <wsdl:part name="FROM_DATE" type="s:string" />
    <wsdl:part name="TO_DATE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationsRecivedHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetInspectionApplicationsHttpGetIn" />
  <wsdl:message name="GetInspectionApplicationsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetApplicationsRecivedHttpPostIn">
    <wsdl:part name="FROM_DATE" type="s:string" />
    <wsdl:part name="TO_DATE" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetApplicationsRecivedHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetInspectionApplicationsHttpPostIn" />
  <wsdl:message name="GetInspectionApplicationsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetApplicationsRecived">
      <wsdl:input message="tns:GetApplicationsRecivedSoapIn" />
      <wsdl:output message="tns:GetApplicationsRecivedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <wsdl:input message="tns:GetInspectionApplicationsSoapIn" />
      <wsdl:output message="tns:GetInspectionApplicationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpGet">
    <wsdl:operation name="GetApplicationsRecived">
      <wsdl:input message="tns:GetApplicationsRecivedHttpGetIn" />
      <wsdl:output message="tns:GetApplicationsRecivedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <wsdl:input message="tns:GetInspectionApplicationsHttpGetIn" />
      <wsdl:output message="tns:GetInspectionApplicationsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ServiceHttpPost">
    <wsdl:operation name="GetApplicationsRecived">
      <wsdl:input message="tns:GetApplicationsRecivedHttpPostIn" />
      <wsdl:output message="tns:GetApplicationsRecivedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <wsdl:input message="tns:GetInspectionApplicationsHttpPostIn" />
      <wsdl:output message="tns:GetInspectionApplicationsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationsRecived">
      <soap:operation soapAction="http://tempuri.org/GetApplicationsRecived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <soap:operation soapAction="http://tempuri.org/GetInspectionApplications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetApplicationsRecived">
      <soap12:operation soapAction="http://tempuri.org/GetApplicationsRecived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <soap12:operation soapAction="http://tempuri.org/GetInspectionApplications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpGet" type="tns:ServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetApplicationsRecived">
      <http:operation location="/GetApplicationsRecived" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <http:operation location="/GetInspectionApplications" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceHttpPost" type="tns:ServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetApplicationsRecived">
      <http:operation location="/GetApplicationsRecived" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspectionApplications">
      <http:operation location="/GetInspectionApplications" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://eistest.cgg.gov.in/misreports/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://eistest.cgg.gov.in/misreports/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpGet" binding="tns:ServiceHttpGet">
      <http:address location="http://eistest.cgg.gov.in/misreports/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceHttpPost" binding="tns:ServiceHttpPost">
      <http:address location="http://eistest.cgg.gov.in/misreports/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>